<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/562.jpg" alt="me">
        <a href="https://www.facebook.com/liu.d.hui/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.linkedin.com/in/%E5%BE%97%E6%9A%89-%E5%8A%89-6aa786217/">Linkedin</a>
    </div>
    
    {{>footer}}
</body>

</html>